In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
datos = pd.read_csv('coches.csv')
datos.head()

,combustible,rueda_motriz,distancia_ejes,largo,ancho,altura,peso,motor,caballos,max_revoluciones,precio
0,1,1,88.6,168.8,64.1,48.8,2548,130,111.0,5000.0,13495.0
1,1,1,88.6,168.8,64.1,48.8,2548,130,111.0,5000.0,16500.0
2,1,1,94.5,171.2,65.5,52.4,2823,152,154.0,5000.0,16500.0
3,1,2,99.8,176.6,66.2,54.3,2337,109,102.0,5500.0,13950.0
4,1,3,99.4,176.6,66.4,54.3,2824,136,115.0,5500.0,17450.0

In [3]:
print('Hay un total de', np.shape(datos)[0], \
      'observaciones con', np.shape(datos)[1], \
      'variables en nuestro conjunto de datos')

Hay un total de 201 observaciones con 11 variables en nuestro conjunto de datos

In [6]:
variables = datos.columns

bina = 0 
multi = 0

for i in variables:
    if len(datos[i].unique()) == 2: 
        bina += 1
    elif len(datos[i].unique()) > 2 and len(datos[i].unique()) <= 4: 
        multi += 1

print('Concretamente, encontramos', bina, 'variables binarias,', multi, 'variable multiestado, y las', 
      np.shape(datos)[1] - bina - multi, 'restantes son cuantitativas')

Concretamente, encontramos 1 variables binarias, 1 variable multiestado, y las 9 restantes son cuantitativas

In [7]:
cuantis = []

for i in variables:
    if len(datos[i].unique()) > 4: 
        cuantis.append(i) 

import math
from scipy.stats import skew

normal = [] 
sqrt = []
log = []

for i in cuantis: 
    normal.append(skew(datos[i]))
    log.append(skew(np.log(datos[i])))
    sqrt.append(skew(np.sqrt(datos[i])))
    
comparar = pd.DataFrame({'normal':normal, 'log':log, 'sqrt':sqrt})

In [8]:
# Identificamos la transformación que devuelve mayor simetría

filas = []
col = []

for i in range(len(comparar)):
    for j in comparar.columns:
        if abs(comparar)[j][i] == min(abs(comparar).loc[i]):
            filas.append(i)
            col.append(j)
            
final = pd.DataFrame({'fila': filas, 'transf': col})
final

   fila transf
0     0    log
1     1    log
2     2    log
3     3   sqrt
4     4    log
5     5    log

In [9]:
# Aplicamos las transformaciones a nuestro conjunto de datos

for i in range(len(final)):
    if final['transf'][i] == 'sqrt':
        datos[cuantis[i]] = np.sqrt(datos[cuantis[i]])
    elif final['transf'][i] == 'log':
        datos[cuantis[i]] = np.log(datos[cuantis[i]])

,combustible,rueda_motriz,distancia_ejes,largo,ancho,altura,peso,motor,caballos,max_revoluciones,precio
0,1,1,4.484132,5.128715,4.160444,6.985700,7.843064,4.867534,111.0,5000.0,13495.0
1,1,1,4.484132,5.128715,4.160444,6.985700,7.843064,4.867534,111.0,5000.0,16500.0
2,1,1,4.548600,5.142832,4.182050,7.238784,7.945555,5.023881,154.0,5000.0,16500.0
3,1,2,4.603168,5.173887,4.192680,7.368853,7.756623,4.691348,102.0,5500.0,13950.0
4,1,3,4.599152,5.173887,4.195697,7.368853,7.945910,4.912655,115.0,5500.0,17450.0